
main {
    display:flex; 
    flex-direction:column;
}
section{
    display: flex;
    width:400px;
    height:100px;
}
.box1, 
.box2,
.box3{
    border:2px solid gold;
    width:50%;
    border-radius: 10%;
}