<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../dist/output.css">
  <!-- to add the 2d game font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <!-- to add save icon -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,200" />
  <script src="../js/registry.js"defer></script>
  <script src="../js/Display.js"defer></script>
  <script src="../js/save.js"defer></script>
  <script src="../js/play.js"defer></script>
 
  <title>Tic-tac-toe</title>
</head>
<body>
  <main class="grid grid-cols-3 h-screen ">
    <section class=" bg-gradient-to-r from-yellow-400 to-white text-semibold left  rounded-md">
          <div class="button-container">
            <div>
              <span class="hover:text-green-800 hover:font-extrabold material-symbols-outlined border-4 border-green-500">
                save
              </span>
              <button id="save"  class="p-2 hover:text-green-800 hover:font-extrabold rounded-full ring-2 ring-offset-2 ring-offset-black">save</button>
              <div id="save-block" style="visibility:hidden" class="save-block">
                <label for="Id">ID:
                  <input id="saveId" class="rounded-md ring-2 ring-offset-1 ring-offset-black" type="text">
                </label>
                <button id="save-send" class="p-1 rounded-full ring-4 ring-offset-2 ring-offset-black">send</button>
              </div>
            </div>
            <div>
              <span class="hover:text-green-800 hover:font-extrabold material-symbols-outlined">
                refresh
              </span>
              <button class="p-2 mb-6 hover:text-green-800 hover:font-extrabold rounded-full ring-2 ring-offset-2 ring-offset-black">Refresh</button>
            </div>
            <div>
              <span class="hover:text-green-800 hover:font-extrabold material-symbols-outlined">
                downloading
              </span>
              <button id="continue-btn" class="p-2  hover:text-green-800 hover:font-extrabold rounded-full ring-2 ring-offset-2 ring-offset-black">Continue</button>
              <div id="continue-block" style="visibility:hidden" class="save-block">
                <label for="Id">ID:
                  <input id="continueId" class="rounded-md ring-2 ring-offset-1 ring-offset-black" type="text">
                </label>
                <button id="continue-send" class="p-1 rounded-full ring-4 ring-offset-2 ring-offset-black">send</button>
              </div>
            </div>
          </div>
          <div style="font-family:'Press Start 2P'" class=" bg-clip-text animate-marquee winner-display">
            <p class="win-text text-transparent"></p>
          </div>
    </section>
    <section class=" grid grid-rows-3 ">
      <section style="font-family:'Press Start 2P'" class="display-box text-3xl overflow-clip grid grid-cols-3 row-span-2  gap-1">
        <div class="p-3 rounded-md  bg-gradient-to-l from-red-400 to-blue-400 c0"></div>
        <div class="p-3 rounded-md  bg-gradient-to-l from-red-400 to-blue-400 c1"></div>
        <div class="p-3 rounded-md  bg-gradient-to-l from-red-400 to-blue-400 c2"></div>
        <div class="p-3 rounded-md  bg-gradient-to-l from-red-400 to-blue-400 c3"></div>
        <div class="p-3 rounded-md  bg-gradient-to-l from-red-400 to-blue-400 c4"></div>
        <div class="p-3 rounded-md  bg-gradient-to-l from-red-400 to-blue-400 c5"></div>
        <div class="p-3 rounded-md  bg-gradient-to-l from-red-400 to-blue-400 c6"></div>
        <div class="p-3 rounded-md  bg-gradient-to-l from-red-400 to-blue-400 c7"></div>
        <div class="p-3 rounded-md  bg-gradient-to-l from-red-400 to-blue-400 c8"></div>
      </section>
      <section class="bg-yellow-300 controller">
        <p class="text-black font-semibold">CONTROL PANEL</p>
        <section class="control-panel w-full grid  grid-cols-3 gap-1">
          <div class="first k0 p-3 rounded-md text-white bg-gray-800 font-semibold">0</div>
          <div class="second k1 p-3 rounded-md text-white bg-gray-800 font-semibold">1</div>
          <div class="third k2 p-3 rounded-md text-white bg-gray-800 font-semibold">2</div>
          <div class="fourth k3 p-3 rounded-md text-white bg-gray-800 font-semibold">3</div>
          <div class="fifth k4 p-3 rounded-md text-white bg-gray-800 font-semibold">4</div>
          <div class="sixth k5 p-3 rounded-md text-white bg-gray-800 font-semibold">5</div>
          <div class="seventh k6 p-3 rounded-md text-white bg-gray-800 font-semibold">6</div>
          <div class="eight k7 p-3 rounded-md text-white bg-gray-800 font-semibold">7</div>
          <div class="ninth k8 p-3 rounded-md text-white bg-gray-800 font-semibold">8</div>
        </section>
      </section>
    </section>
    <section class="bg-gradient-to-r from-white to-yellow-400 right rounded-md">
    </section>
  </main>


</body>
</html>